body {
  margin-top: 5rem;
  background-color: white;
}

.navbar > ul {
  list-style-type: none;
}

.navbar {
  margin-bottom: 0px!important;
  background-color: white!important;
  border: none!important;
 /* position: fixed;*/
  height: 80px;
  width: 100vw;
  z-index: 5;

}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
  background: linear-gradient(0.25turn,#2260A0, #4E88C4);
  height: 3px;
}

ul.nav.navbar-nav {
  color: white!important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 27px;
      width: 100vw;
  text-align: center;
}

ul > li {
  display: inline;
}

button {
  width: 100%;
  max-width: 12em;
  background: #0d6efd;
  border:1px solid #0d6efd;
  padding: .375rem .75rem;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
  margin:0 0.3em 0.3em 0;
  border-radius:0.25rem;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: white;
  text-align:center;
  transition: all 0.2s;
}
    
button:hover {
  color: white;
  background-color: #0b5ed7;
  border:1px solid #0a58ca;
}

@media all and (max-width:30em) {
  button1 {
    display:block;
    margin:0.4em auto;
  }
}

.img-fluid {
  max-width: 100%;
  height: 300px;
}

#userDash {
  padding: 2%;
}

#currentPortfolioChart {
  width: 19vw;
  padding: 1%;
  border: 1px solid gray;
  border-radius: 2rem;
  margin: 0 auto;
}

#currentPortfolioChart > h2 {
  text-align: center;
}

.currentPortfolioList {
  border-radius: 0.25rem;
  padding-left: 2%;
  display: table;
  list-style-type: none;
  font-size: 1.2rem;
  margin-bottom: -1px;
}
.currentPortfolioListHeader {
  margin-left: 10px;
  font-weight: bolder;
}
.currentPortfolioListHeader > li {
  display: table-cell;
  width: 50%;

}

.currentPortfolioList > li {
  display: table-cell;
  width: 50%;
}

#currentPortfolioDetails {
  text-align: center;
  font-size: 1.3rem;
}
#currentPortfolioChart > h2 {
  padding: 0;
}
#userDash > h2 {
  font-size: 2rem;
}
.userDash-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 1%;
}

.grid-item-table {
  grid-column: 2/5;
}

@media only screen and (max-width: 680px){
  #currentPortfolioChart {
    width: auto;
    padding: 1%;
  }

  #currentPortfolioTable {
    width: auto;
    padding: 1%;
  }
  .userDash-container {
    display: block;
    padding: 1%;
  }

}



