{% from "formHelpers.html" import render_formfield %}
{% extends "index.html" %}

{% block title %} Login {% endblock %}
{% block content %}

<div id="loginContent">
    <h1>Login</h1>

    <form method="POST" action='/login' id='loginForm'>
        <!--CSRF Token-->
        {{ form.hidden_tag() }}
        
        <div class="mb-3">
            {{ render_formfield(form.username) }}
        </div>

        <div class="mb-3">
        {{ render_formfield(form.password) }}
        </div>
        {{ form.submit(class="btn btn-success") }}
    </form>
</div>
{% endblock %}