{% extends "index.html" %} {% block title %} Preset {% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %}
<div class="container">
  <div class="title mb-4" style="margin-bottom: 30px;">
    <h1>Pick a preset</h1>
    <p>Your preset will be your template to rebalance against</p>
  </div>
  <div class="row">
    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card p-3 border rounded-3 bg-light">
        <div class="card-header lead text-center bg-light">
          Conservative 20%
        </div>
        <div class="px-3">
          <table class="table">
            <thead>
              <tr>
                <td style="border-bottom: 1px solid black">
                  <div>14%</div>
                </td>
                <th style="border-bottom: 1px solid black">
                  <div>Domestic Stock</div>
                </th>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid black">
                  <div>6%</div>
                </td>
                <th style="border-bottom: 1px solid black">
                  <div>International Stock</div>
                </th>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid black">
                  <div>50%</div>
                </td>
                <th style="border-bottom: 1px solid black">
                  <div>Bonds</div>
                </th>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid black">
                  <div>30%</div>
                </td>
                <th style="border-bottom: 1px solid black">
                  <div>Money Market</div>
                </th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="card-body text-center">
          <p class="card-text">
            A steady portfolio with a less bumpy ride and reduced potential for
             long term returns
          </p>
          <hr/>
          <div class="text-center">
            <form action="/results" method="Post">
              <button name="preset-btn" type="submit" value="0">
                Select
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mx-5 d-flex align-items-stretch">
      <div class="card p-3 border rounded-3 bg-light">
        <div class="card-header lead text-center bg-light">
          Balanced 50%
        </div>
        <div class="px-3">
          <table class="table">
            <thead>
              <tr>
                <td style="border-bottom: 1px solid black">
                  <div>35%</div>
                </td>
                <th style="border-bottom: 1px solid black">
                  <div>Domestic Stock</div>
                </th>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid black">
                  <div>15%</div>
                </td>
                <th style="border-bottom: 1px solid black">
                  <div>International Stock</div>
                </th>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid black">
                  <div>40%</div>
                </td>
                <th style="border-bottom: 1px solid black">
                  <div>Bonds</div>
                </th>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid black">
                  <div>10%</div>
                </td>
                <th style="border-bottom: 1px solid black">
                  <div>Money Market</div>
                </th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="card-body text-center">
          <p class="card-text">
            A middle of the road portfolio with some volatility, and moderate
            long term returns
          </p>
          <hr/>
          <div class="text-center">
            <form action="/results" method="Post">
              <button name="preset-btn" type="submit" value="1">
                Select
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex align-items-stretch gx-5">
      <div class="card p-3 border rounded-3 bg-light">
        <div class="card-header lead text-center bg-light">
          Aggressive 85%
        </div>
        <div class="px-3">
          <table class="table">
            <thead>
              <tr>
                <td style="border-bottom: 1px solid black">
                  <div>60%</div>
                </td>
                <th style="border-bottom: 1px solid black">
                  <div>Domestic Stock</div>
                </th>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid black">
                  <div>25%</div>
                </td>
                <th style="border-bottom: 1px solid black">
                  <div>International Stock</div>
                </th>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid black">
                  <div>15%</div>
                </td>
                <th style="border-bottom: 1px solid black">
                  <div>Bonds</div>
                </th>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid black">
                  <div>0%</div>
                </td>
                <th style="border-bottom: 1px solid black">
                  <div>Money Market</div>
                </th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="card-body text-center">
          <p class="card-text">
            A portfolio built for maximizing long term returns with 
            significant fluctuations in value
          </p>
          <hr/>
          <div class="text-center">
            <form action="/results" method="Post">
              <button name="preset-btn" type="submit" value="2">
                Select
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
