{% extends "base.html" %} {% block title %} test {% endblock %} {% block head %}
{{ super() }} {% endblock %} {% block content %}

<div class="container">
  <div class="row border-left">
    <div class="jumbotron text-left">
      <h1>Parity Portfolio</h1>
      <p>the button worked</p>
      <hr class="md-4" />
    </div>
  </div>
</div>

<div class="container">
  <h1>How to create your custom Bootstrap buttons</h1>
  <p><a href="#" class="btn btn-outline">Custom outline button</a></p>
  <p><a href="#" class="btn btn-colour-1">Custom colour button</a></p>
</div>

{% endblock %}
