{% extends 'index.html' %}

{% block content %}

{% include "flashMessages.html" %}

<div class="container">
    <!--Doughnut Chart Script-->
    {% include "displaydata.html" %}
    
    <div id="userDash title mb-3">
        <h1>Welcome, {{ user }}!</h1>
        <p>Here's a snapshot of your current and target portfolios for rebalance.</p>
        <div id="currentPortfolioDetails" class="container">
            <!-- <div class="row">
                <div id="currentPortfolioValue" class="col-sm">
                        <h4>Current Value</h4>
                        <p id="currentValue"></p>
                </div>

            </div> -->
        </div>
        <div class="userDash-container">
            <div class="grid-item-chart">
                <div id="portfolioChart">
                    <div class="text-center">
                        <p class="lead">My Portfolio</p>
                    </div>
                    <canvas id="myCurrentChart"></canvas>
                </div>
            </div>

            <div class="grid-item-table my-4">
                <div id="currentPortfolioTable">
                    <h3>My Portfolio Allocation</h3>
                    <ul class="portfolioListHeader">
                        <li>Name</li>
                        <li>Value</li>
                        <li>Target</li>
                    </ul>
                </div>

                {% if values2 != "null" %}
 
                <div id="targetPortfolioTable">
                    <h3>Target Allocation</h3>
                    <ul class="portfolioListHeader">
                        <li>Name</li>
                        <li>Value</li>
                        <li>Target</li>
                    </ul>
                </div>

            {% else %}
            <div class="col-md-10 mt-5 text-center d-flex align-items-center justify-content-center">
                <div class="portfolioChart">
                    <div class="">
                        <p class="lead">Great! <br>Now, let's pick<br>a target portfolio.</p>
                    </div>
                    <button 
                        id="start-btn" 
                        name="preset-btn" 
                        onclick="location.href='{{ url_for('presets') }}'"
                    >
                        Select Target
                    </button>
                </div>
            </div>

            {% endif %}
            </div>
 

        {% if values2 != "null" %}
            <div class="grid-item-chart">
                <div id="portfolioChart">
                    <div class="text-center">
                        <p class="lead">Target Portfolio</p>
                    </div>
                    <canvas id="myTargetChart"></canvas>
                </div>
            </div>

        {% endif %}

    </div>
</div>

{% endblock %}