{% extends 'index.html' %}

{% block content %}

<div class="container">
    <!--Doughnut Chart Script-->
    {% include "displayDashboardCharts.html" %}
    
    <div id="userDash">
        <h1>Welcome, {{ user }}!</h1>
        <p>Here's where you stand</p>
        <div id="currentPortfolioDetails" class="container">
            <div class="row">
                <div id="currentPortfolioValue" class="col-sm">
                        <h4>Current Value</h4>
                        <p id="currentValue"></p>
                </div>

                <div id="currentPortfolioPreset" class="col-sm">
                    <h4>Current Preset</h4>
                    <p id="currentPreset"></p>
                </div>
            </div>
        </div>
        <div class="userDash-container">
            <div class="grid-item-chart">
                <div id="currentPortfolioChart">
                    <div class="text-center">
                        <p class="lead">My Portfolio</p>
                    </div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            
            <div class="grid-item-table">
                <div id="currentPortfolioTable">
                    <h2>Slices</h2>
                    <ul class="currentPortfolioListHeader">
                        <li>Name</li>
                        <li>Value</li>
                        <li>Actual/Target</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}