{% extends "index.html" %}
{% block title %} Enter Portfolio Details {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}


<div class="container">
    <div class="mb-4 title">
        <h1>My portfolio</h1>
        <p>Enter your portfolio details in the categories below, let's get
            you on track!
        </p>
    </div>
    <div class="row">
        <div class="p-3 col-md-5 border border-1 rounded-start bg-light">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <!-- Domestic Stock Input -->
                <div class="p-3 row">
                    <div class="col-md-4">
                        Domestic Stock
                    </div>
                    <div class="col-md-6">
                        {{ form.domestic.label }}

                        {% if form.domestic.errors %}
                            {{ form.domestic(class="is-invalid") }}
                            <div class="invalid-feedback">
                                    <span>{{ form.domestic.errors }}</span>
                            </div>
                        {% else %}
                            {{ form.domestic }}
                        {% endif %}
                    </div>
                </div>
                <!-- International Stock Input -->
                <div class="p-3 row">
                    <div class="col-md-4">
                        International Stock
                    </div>
                    <div class="col-md-6">
                        {{ form.international.label }}
            
                        {% if form.international.errors %}
                            {{ form.international(class="is-invalid") }}
                            <div class="invalid-feedback">
                                    <span>{{ form.international.errors }}</span>
                            </div>
                        {% else %}
                            {{ form.international }}
                        {% endif %}
                    </div>
                </div>
                <!-- Bonds Input -->
                <div class="p-3 row">
                    <div class="col-md-4">
                        Bonds
                    </div>
                    <div class="col-md-6">
                        {{ form.bonds.label }}
            
                        {% if form.bonds.errors %}
                            {{ form.bonds(class="is-invalid") }}
                            <div class="invalid-feedback">
                                    <span>{{ form.bonds.errors }}</span>
                            </div>
                        {% else %}
                            {{ form.bonds }}
                        {% endif %}
                    </div>
                </div>
                <!-- Money Market Input -->
                <div class="p-3 row">
                    <div class="col-md-4">
                        Money Market
                    </div>
                    <div class="col-md-6">
                        {{ form.money_market.label }}
        
                        {% if form.money_market.errors %}
                            {{ form.money_market(class="is-invalid") }}
                            <div class="invalid-feedback">
                                    <span>{{ form.money_market.errors }}</span>
                            </div>
                        {% else %}
                            {{ form.money_market }}
                        {% endif %}
                    </div>
                </div>
                <hr/>
                <!-- Submit Button -->
                <div class="p-2 row justify-content-center">
                    <div class="col-md-4">
                         {{ form.submit(class="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>
        <div class="p-3 col-md-5 d-flex justify-content-center align-items-center rounded-end" style="background: #e9c46a;">
            <img src="../static/images/clipboard.png" class="img-fluid" style="height: 200px;">
        </div>
    </div>
</div>

    

<!-- 

<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
            <div>
                {{ form.domestic.label }}
    
                {% if form.domestic.errors %}
                    {{ form.domestic(class="is-invalid") }}
                    <div class="invalid-feedback">
                            <span>{{ form.domestic.errors }}</span>
                    </div>
                {% else %}
                    {{ form.domestic }}
                {% endif %}
            </div>
            <div>
                {{ form.international.label }}
    
                {% if form.international.errors %}
                    {{ form.international(class="is-invalid") }}
                    <div class="invalid-feedback">
                            <span>{{ form.international.errors }}</span>
                    </div>
                {% else %}
                    {{ form.international }}
                {% endif %}
            </div>
            <div>
                {{ form.money_market.label }}
    
                {% if form.money_market.errors %}
                    {{ form.money_market(class="is-invalid") }}
                    <div class="invalid-feedback">
                            <span>{{ form.money_market.errors }}</span>
                    </div>
                {% else %}
                    {{ form.money_market }}
                {% endif %}
            </div>
            <div>
                {{ form.bonds.label }}
    
                {% if form.bonds.errors %}
                    {{ form.bonds(class="is-invalid") }}
                    <div class="invalid-feedback">
                            <span>{{ form.bonds.errors }}</span>
                    </div>
                {% else %}
                    {{ form.bonds }}
                {% endif %}
            </div>
    
            </fieldset>
        <div>
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

</div>


 -->
{% endblock %}