{% extends 'index.html' %}

{% block content %}

    <!--Doughnut Chart Script-->
    {% include "displayDashboardCharts.html" %}
    
    <div id="userDash">
        <h1>Welcome {{ user }}</h1>
        <div id="currentPortfolioDetails" class="container">
            <div class="row">
                <div id="currentPortfolioValue" class="col-sm">
                        <h4>Current Value</h4>
                        <p id="currentValue"></p>
                </div>

                <div id="currentPortfolioGain" class="col-sm">
                    <h4>Gain</h4>
                </div>

                <div id="currentPortfolioReturn" class="col-sm">
                    <h4>Return</h4>
                </div>
            </div>
        </div>
        <div class="userDash-container">
            <div class="grid-item-chart">
                <div id="currentPortfolioChart">
                    <h2>Current Portfolio</h2>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            
            <div class="grid-item-table">
                <div id="currentPortfolioTable">
                    <h2>Slices</h2>
                    <ul class="currentPortfolioListHeader">
                        <li>Name</li>
                        <li>Value</li>
                        <li>Target</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}